<div class="container">
    <h2>Details</h2>

    <button class="btn btn-primary" (click)="goBack()">Back</button>

    <form [formGroup]="imageDetails" (ngSubmit)="onSubmit()" class="form-group">
        <img *ngIf="imageDetails.get('url')?.value" [src]="imageDetails.get('url')?.value" [alt]="'Photo of ' +  imageDetails.get('title')?.value">

        <div>
            <label for="title">Title</label>
            <input id="title" name="title" class="form-control" formControlName="title" required />
        </div>
        <br/>

        <div>
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" name="url" class="form-control" formControlName="url" required />
        </div>
        <br/>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <button class="btn btn-danger delete-button" (click)="deleteItem()">Delete</button>
</div>