<div class="container">
    <h2>Details</h2>

    <button class="btn btn-primary" (click)="goBack()">Back</button>

    <form [formGroup]="imageDetails" (ngSubmit)="onSubmit()" class="form-group">
        <img *ngIf="imageDetails.get('url')?.value" [src]="imageDetails.get('url')?.value" [alt]="'Photo of ' +  imageDetails.get('title')?.value">

        <div>
            <label for="title">Title</label>
            <input id="title" class="form-control" formControlName="title" [class.error]="title.invalid && title.touched"/>
            <em *ngIf="title.invalid && title.touched"> Please enter a title! </em>
        </div>
        <br/>

        <div>
            <label for="imageUrl">Image URL</label>
            <input id="imageUrl" class="form-control" formControlName="url" [class.error]="imageUrl.invalid && imageUrl.touched"/>
            <em *ngIf="imageUrl.errors?.['required'] && imageUrl.touched"> Please enter an image url! </em>
            <em *ngIf="imageUrl.errors?.['minlength'] && imageUrl.touched"> Image url must be at least 5 characters </em>
        </div>
        <br/>

        <button type="submit" class="btn btn-primary" [disabled]="imageDetails.invalid">Save</button>
    </form>

    <button *ngIf="imageId" class="btn btn-danger delete-button" (click)="deleteItem()">Delete</button>
</div>